/*
 * css nav-side样式
 */

/* 导航主题 */
.nav-side{
	float: left;
	width: 130px;
	min-height: 100px;
}
.nav-side .nav-item{
	line-height: 25px;
	font-size: 13px;
}
/* li样式 */
.nav-side .nav-item .link{
	color: #888;
}
.nav-side .nav-item.active .link{
	color:#C60023;
}
/* 右侧内容区 */
.content.with-nav{
	float: left;
	width: 950px;
}


