<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./layout/head-common.html')  %>
        <title><%= htmlWebpackPlugin.options.title%> - 课程设计</title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav.html')  %>
        <%= require('html-loader!./layout/header.html')  %>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a class="link" href="./index.html">WMall</a>
                    <span>></span>
                    <span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
                </div>
            </div> 
        </div>
        <div class="page-wrap w"> 
            <%= require('html-loader!./layout/nav-side.html')  %>
            <div class="content with-nav">
                <div class="panel">
                    <div class="panel-title"><%= htmlWebpackPlugin.options.title%></div>
                    <div class="panel-body">
						
						<div class="about-title">
							声明：
						</div>
						<div class="about-con">
							<div class="text">此WMall主题电商网站为：
							计软 1503 王瑞乾 课程设计</div>
							<div class="text">此网站的所有商品为虚拟，学习测试使用</div>
							
						</div>

                    </div>
                </div>
            </div>
        </div>
        <%= require('html-loader!./layout/footer.html')  %>
    </body>
</html>