/*
 * 用户中心样式
 */
.form-line{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.form-line .label{
    display: inline-block;
    width: 60px;
    text-align: center;
}
.panel .btn-mini{
	margin-left: 52px;
}
