<div class="footer">
	<div class="w">
		<div class="links">
			<a href="http://www.ujn.edu.cn/" class="link" target="_blank"><i class="fa fa fa-university"></i>  UJN</a>|
			<a href="http://www.baidu.com/" class="link" target="_blank"><i class="fa fa fa-paw">  </i>  百度</a>|
			<a href="http://www.taobao.com/" class="link" target="_blank"><i class="fa  fa-shopping-basket">  </i>  淘宝</a>|
			<a href="http://www.zhihu.com/" class="link" target="_blank"><i class="fa fa fa-quora">  </i>  知乎</a>|
			<a href="http://www.github.com/" class="link" target="_blank"><i class="fa fa fa-github">  </i>  GitHub</a>
		</div>
		<p class="copyright">
			Copyright © 2017 wmall.com All Right Reserved
		</p>
	</div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>