<div class="footer">
	<div class="w">
		<div class="links">
			<a href="http://www.ujn.edu.cn/" class="link" target="_blank">UJN</a>|
			<a href="http://www.baidu.com/" class="link" target="_blank">百度</a>|
			<a href="http://www.taobao.com/" class="link" target="_blank">淘宝</a>|
			<a href="http://www.zhihu.com/" class="link" target="_blank">知乎</a>|
			<a href="http://www.github.com/" class="link" target="_blank">GitHub</a>
		</div>
		<p class="copyright">
			Copyright © 2017 wmall.com All Right Reserved
		</p>
	</div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>