/* nav-simple */
.nav-simple{
	height: 60px;
	line-height: 60px;
	border-bottom:1px solid #DDDDDD ;
	background: #FFFFFF;
}
.nav-simple .logo img{
	text-decoration: none;
	width: 60px;
	height:60px;
}
