/*
 * 通用样样式
 * wangqian
 */

/*css reset*/
*{
	margin: 0;
	padding: 0;
}
body{
	background: #F6F6F6;
	font: 12px/1.5 tahoma,arial,"microsoft yahei",sans-serif;
}
li{
	list-style: none;
}
img{
	display: block;
	border: none;
}
label{
	cursor: pointer;
}
input[type='checkbox']{
	cursor: pointer;
}

/*定宽布局*/
.w{
	position: relative;
	width: 1080px;
	margin: 0 auto;
	overflow: hidden;
}

/* panel */
.panel{
	margin: 10px;
	margin-bottom: 10px;
	background: #FFFFFF;
}
.panel .panel-title{
	padding: 10px;
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	border-bottom: 1px solid #EEEEEE;
}
.panel .panel-body{
	padding: 10px;
	overflow: hidden;
}

/* 全局通用样式 */

/* 隐藏 */
.hide{
	display: none;
}

/* 超链接样式 */
.link{
	color: #999999;
	cursor: pointer;
	text-decoration: none;
}
.link:hover{
	color:#C60023;
}
.link-text{
	color: #999999;
	text-decoration: none;
}

/* btn */
.btn{
	display:inline-block ;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;/*防止其他样式冲突*/
	border: none;
	background: #C60023;
	font-size: 17px;
	font-weight: bold;
	color: #FFFFFF;
	outline: pointer;
	text-decoration: none;
	cursor: pointer;
}
.btn-mini{
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	padding: 0 10px;
}

/* loading */
.loading{
	margin: 10px auto;
	display: block;
	width: 65px;
	height: 65px;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	background: url(../../image/icon/loading.gif) no-repeat;
	opacity: .6;
}
